body {
  font-family: 'Hind', sans-serif; }

/*BACK TO TOP START*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #C7F464 url(../img/top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition-property: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s; }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out {
    transition-property: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -webkit-transition: all .4s linear 0s;
    -o-transition: all .4s linear 0s; }

.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #d7f792;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px; } }

/*NAVBAR*/
/*NAVBAR MOBILE START*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.dl-menuwrapper {
  display: none;
  width: 100%;
  max-width: 300px;
  float: left;
  position: absolute;
  top: 25px;
  right: 10%;
  text-align: right;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%; }
  .dl-menuwrapper:first-child {
    margin-right: 100px; }
  .dl-menuwrapper .dl-trigger {
    color: transparent; }
  .dl-menuwrapper button {
    background: transparent;
    border: none;
    width: 48px;
    height: 45px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none; }
  .dl-menuwrapper ul {
    background: rgba(52, 74, 113, 0.55); }
  .dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background: #fff;
    top: 10px;
    left: 15%;
    box-shadow: 0 10px 0 #fff,  0 20px 0 #fff; }
  .dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .dl-menuwrapper li {
    position: relative; }
    .dl-menuwrapper li a {
      display: block;
      position: relative;
      padding: 15px 30px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;
      outline: none; }

.no-touch .dl-menuwrapper li a {
  transition-property: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s; }

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(52, 74, 113, 0.35);
  color: #fff; }

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.1); }

.dl-menuwrapper li.dl-back:after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-size: 12px;
  font-family: 'icomoon';
  speak: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
  right: 10px;
  color: #fff;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-size: 12px;
  font-family: 'icomoon';
  speak: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15); }

.dl-menuwrapper .dl-menu {
  position: absolute;
  margin-top: 25px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .dl-menuwrapper .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease; }
  .dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

.dl-menuwrapper li .dl-submenu {
  display: none; }

.dl-menu.dl-subview li {
  display: none; }
  .dl-menu.dl-subview li.dl-subviewopen > a {
    display: none; }
  .dl-menu.dl-subview li.dl-subview {
    display: block;
    background-color: transparent; }
    .dl-menu.dl-subview li.dl-subview > a {
      display: none; }
    .dl-menu.dl-subview li.dl-subview .dl-submenu {
      display: block;
      background-color: transparent; }
  .dl-menu.dl-subview li.dl-subviewopen {
    display: block;
    background-color: transparent; }
    .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu {
      display: block;
      background-color: transparent; }
      .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
        display: block;
        background-color: transparent; }

.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  margin: 0; }

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease; }

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease; }

@-webkit-keyframes MenuAnimOut5 {
  0% { }
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0; } }

@keyframes MenuAnimOut5 {
  0% { }
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0; } }

@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease; }

@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0; } }

@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0; } }

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.no-js .dl-menuwrapper li .dl-submenu {
  display: block; }

.no-js .dl-menuwrapper li.dl-back {
  display: none; }

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1); }
  .no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: ''; }

/*NAVBAR MOBILE END*/
.navbar, .section-check-availability, .section-check-availability-mobile {
  background-color: rgba(52, 74, 113, 0.55);
  width: 100%;
  height: 95px;
  position: fixed;
  z-index: 9999; }
  .navbar .logo, .section-check-availability .logo, .section-check-availability-mobile .logo {
    width: 200px;
    padding-top: 16px; }
  .navbar .fa-tree, .section-check-availability .fa-tree, .section-check-availability-mobile .fa-tree {
    position: absolute;
    top: 10%;
    right: -20%;
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s; }
  .navbar .fa-bed, .section-check-availability .fa-bed, .section-check-availability-mobile .fa-bed {
    position: absolute;
    top: 42%;
    right: -20%;
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s; }
  .navbar .fa-key, .section-check-availability .fa-key, .section-check-availability-mobile .fa-key {
    position: absolute;
    top: 75%;
    right: -20%;
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s; }

.nav-list {
  font-size: 0;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  float: right; }
  .nav-list li {
    display: inline;
    height: 95px; }
    .nav-list li a {
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      padding: 40px 16px;
      text-decoration: none;
      transition-property: all .4s linear 0s;
      -moz-transition: all .4s linear 0s;
      -webkit-transition: all .4s linear 0s;
      -o-transition: all .4s linear 0s; }

.dropbtn {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none; }

li a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: rgba(52, 74, 113, 0.85); }

li.dropdown {
  display: inline-block; }

.dropdown-content {
  position: absolute;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  background-color: #fff;
  margin-top: -6px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown-content .nav-expanded {
    color: rgba(52, 74, 113, 0.85);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s; }
    .dropdown-content .nav-expanded:hover {
      padding-left: 22px; }
  .dropdown-content .nav-expanded:hover .fa-tree {
    top: 10%;
    right: 10%; }
  .dropdown-content .nav-expanded:hover .fa-bed {
    top: 42%;
    right: 10%; }
  .dropdown-content .nav-expanded:hover .fa-key {
    top: 75%;
    right: 10%; }

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 1000px;
  transform: perspective(400) rotate3d(0, 0, 0, 0);
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0); }

/*NAVBAR END*/
/*CAROUSEL*/
.carousel-inner {
  position: relative; }
  .carousel-inner .carousel-item {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover; }

.carousel-title, .sub-page-hero .hero-title {
  font-size: 46px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0;
  padding: 20px 20px 15px 20px;
  min-height: 0px;
  min-width: 0px;
  line-height: 30px;
  white-space: nowrap;
  background-color: rgba(52, 74, 113, 0.55);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%); }

/*CAROUSEL END*/
/*DATE PICKER*/
.section-check-availability, .section-check-availability-mobile {
  height: 80px;
  padding-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1; }
  .section-check-availability input::-webkit-input-placeholder, .section-check-availability-mobile input::-webkit-input-placeholder,
  .section-check-availability input[type=text], .section-check-availability-mobile input[type=text] {
    text-align: left; }
  .section-check-availability .check-availability-title, .section-check-availability-mobile .check-availability-title {
    color: #fff;
    font-size: 21px; }
    .section-check-availability .check-availability-title p, .section-check-availability-mobile .check-availability-title p {
      margin-top: 10px; }

.picker, .form-number {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #fff;
  height: 40px;
  width: 150px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  outline: none; }
  .picker option, .form-number option,
  .picker select, .form-number select {
    font-weight: 600; }

.hasDatepicker, .section-check-availability input::-webkit-input-placeholder, .section-check-availability-mobile input::-webkit-input-placeholder,
.section-check-availability input[type=text], .section-check-availability-mobile input[type=text] {
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  padding-left: 5px;
  padding-right: 23px; }

.styled-select, .read-more, .accommodation .room-details-button, .accommodation .room-details-button-filled {
  display: inline-block;
  float: left;
  width: 100px;
  height: 40px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: transparent;
  text-align: center;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  border: 2px double #fff;
  display: inline-block;
  position: relative;
  transition-property: all .6s linear 0s;
  -moz-transition: all .6s linear 0s;
  -webkit-transition: all .6s linear 0s;
  -o-transition: all .6s linear 0s; }

.form-number {
  border: 0; }

.check-button {
  width: 100%;
  background-color: #C7F464;
  border: 0;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: 2px solid #C7F464;
  text-transform: uppercase;
  color: rgba(52, 74, 113, 0.55);
  transition-property: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s; }
  .check-button:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff; }

.result {
  margin: 0; }

.wrong-email {
  background-color: rgba(255, 0, 0, 0.4);
  opacity: .9; }

.correct-email {
  background-color: rgba(0, 229, 0, 0.4);
  opacity: .9; }

.ui-datepicker {
  background-color: #fff;
  box-shadow: 0 0 8px #7A869F;
  display: none;
  width: 240px; }
  .ui-datepicker a {
    text-decoration: none; }
    .ui-datepicker a:hover {
      text-decoration: none;
      background-color: #fff;
      -webkit-transition: color 0.1s ease-in-out;
      -moz-transition: color 0.1s ease-in-out;
      -o-transition: color 0.1s ease-in-out;
      transition: color 0.1s ease-in-out; }
  .ui-datepicker td:hover a {
    background-color: #fff;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
  .ui-datepicker .ui-datepicker-header {
    text-align: center;
    color: #516d9b;
    height: 35px;
    margin-top: 10px; }
  .ui-datepicker .ui-datepicker-title {
    font-size: 18px;
    font-weight: 600; }
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    font-size: 25px;
    line-height: 1; }
  .ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left; }
  .ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right; }
  .ui-datepicker .ui-datepicker-prev:before {
    content: "\e079"; }
  .ui-datepicker .ui-datepicker-next:before {
    content: "\e080"; }
  .ui-datepicker .ui-icon {
    display: none; }
  .ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%; }
    .ui-datepicker .ui-datepicker-calendar th {
      text-align: center;
      padding: 4px 0; }
    .ui-datepicker .ui-datepicker-calendar td {
      text-align: center;
      padding: 4px 0;
      border-radius: 4px;
      -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out; }
      .ui-datepicker .ui-datepicker-calendar td:hover {
        background-color: #516d9b;
        cursor: pointer; }
        .ui-datepicker .ui-datepicker-calendar td:hover > .ui-state-default {
          background-color: #516d9b;
          color: #fff; }
      .ui-datepicker .ui-datepicker-calendar td a {
        text-decoration: none; }
  .ui-datepicker .ui-datepicker-current-day {
    background-color: #516d9b; }
    .ui-datepicker .ui-datepicker-current-day a {
      color: #fff; }
  .ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #516d9b;
    cursor: default; }
  .ui-datepicker .ui-datepicker-calendar thead th {
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    background-color: #516d9b;
    padding: 12px 5px; }

.picker-calendar {
  position: absolute;
  font-size: 18px;
  top: 12px;
  left: 135px;
  color: #fff; }

.arrival {
  left: 150px; }

.departure {
  left: 320px; }

.section-check-availability-mobile {
  height: 150px;
  position: relative;
  display: none;
  bottom: 0;
  background-color: #344A71; }
  .section-check-availability-mobile .check-availability-button {
    margin-top: 20px; }
  .section-check-availability-mobile .check-availability-pickers {
    text-align: center; }
    .section-check-availability-mobile .check-availability-pickers .picker-mobile {
      display: inline-block;
      position: relative; }

/*DATE PICKER END*/
/*ABOUT MAIN PAGE*/
.about-short {
  position: relative;
  margin-bottom: 20px; }
  .about-short .about-part {
    height: 320px; }
  .about-short h3 {
    border-bottom: 1px solid rgba(52, 74, 113, 0.2); }
  .about-short .small-photo {
    max-width: 100%; }
  .about-short .overview-list {
    padding-left: 25px;
    margin: 0; }
    .about-short .overview-list li {
      list-style-image: url("../img/list-icon.png");
      font-size: 16px; }
  .about-short iframe {
    width: 100%;
    height: 200px; }

.read-more, .accommodation .room-details-button, .accommodation .room-details-button-filled {
  color: #344A71;
  border: 2px solid #344A71;
  position: absolute;
  left: 5px;
  bottom: 20px;
  transition-property: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s; }
  .read-more:hover, .accommodation .room-details-button:hover, .accommodation .room-details-button-filled:hover {
    background-color: #344A71;
    color: #fff; }

.title-block, .accommodation .accommodation-title-block {
  height: 3px;
  width: 15%;
  background-color: #344A71;
  display: block;
  position: absolute;
  top: 39px; }

/*ABOUT MAIN END*/
/*FOOTER START*/
.footer {
  background-color: #1c1c1c;
  color: #acacac; }
  .footer h3 {
    text-transform: uppercase;
    color: #fff; }
  .footer .styled-select, .footer .read-more, .footer .accommodation .room-details-button, .accommodation .footer .room-details-button, .footer .accommodation .room-details-button-filled, .accommodation .footer .room-details-button-filled {
    width: 100%;
    margin: 0;
    padding-left: 5px; }
    .footer .styled-select::-webkit-input-placeholder, .footer .read-more::-webkit-input-placeholder, .footer .accommodation .room-details-button::-webkit-input-placeholder, .accommodation .footer .room-details-button::-webkit-input-placeholder, .footer .accommodation .room-details-button-filled::-webkit-input-placeholder, .accommodation .footer .room-details-button-filled::-webkit-input-placeholder,
    .footer .styled-select input[type=text],
    .footer .read-more input[type=text],
    .footer .accommodation .room-details-button input[type=text], .accommodation
    .footer .room-details-button input[type=text],
    .footer .accommodation .room-details-button-filled input[type=text], .accommodation
    .footer .room-details-button-filled input[type=text] {
      text-align: left; }
  .footer .styled-select[type=text], .footer [type=text].read-more, .footer .accommodation [type=text].room-details-button, .accommodation .footer [type=text].room-details-button, .footer .accommodation [type=text].room-details-button-filled, .accommodation .footer [type=text].room-details-button-filled {
    text-align: left;
    padding-left: 5px; }
  .footer .check-button {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-top: 20px; }
  .footer .footer-contact .fa {
    margin-right: 10px; }
  .footer .margin {
    margin-bottom: 15px; }
  .footer .social-icons ul {
    padding-left: 0; }
    .footer .social-icons ul li {
      display: inline-block; }
      .footer .social-icons ul li a:hover {
        background-color: transparent;
        color: #516d9b; }
      .footer .social-icons ul li a i {
        font-size: 24px;
        display: block;
        color: #acacac;
        transition-property: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s; }
        .footer .social-icons ul li a i:hover {
          color: #516d9b;
          background-color: transparent; }

.footer-bottom {
  background-color: #344A71;
  color: #acacac;
  font-size: 16px;
  text-align: center; }
  .footer-bottom p {
    margin: 10px 0; }
  .footer-bottom a {
    color: #acacac;
    font-weight: 600;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s; }
    .footer-bottom a:hover {
      color: #fff; }

.single {
  width: 100%;
  margin: 0 auto; }
  .single img {
    height: 400px;
    width: 100%;
    object-fit: cover; }

.pointer {
  cursor: pointer; }

.sub-page-hero {
  position: relative;
  margin-bottom: 40px; }
  .sub-page-hero img {
    width: 100%;
    height: 40vh;
    object-fit: cover; }
  .sub-page-hero .hero-title {
    margin-top: 40px;
    padding: 0;
    text-transform: uppercase;
    background-color: transparent; }

.about-full .about-title {
  margin: 0;
  border-bottom: 1px solid rgba(52, 74, 113, 0.2); }

.about-full .title-block, .about-full .accommodation .accommodation-title-block, .accommodation .about-full .accommodation-title-block {
  top: 29px; }

.about-full .about-img {
  width: 300px;
  height: auto;
  float: right;
  padding: 10px 0 0 10px; }

.space-bottom {
  margin-bottom: 40px; }

.quotation {
  padding: 20px 0 15px 70px;
  border-top: 1px solid rgba(52, 74, 113, 0.55);
  border-bottom: 1px solid rgba(52, 74, 113, 0.55);
  font-size: 18px;
  font-weight: 600; }
  .quotation .fa-quote-right {
    font-size: 40px;
    position: absolute;
    left: 20px;
    top: 15px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 65px;
    color: #344A71; }

.testimonials {
  background-image: url("../img/about-hero.jpg");
  background-position: 50%;
  background-attachment: fixed; }
  .testimonials .quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 40px; }
    .testimonials .quote-carousel .carousel-inner {
      width: 90%;
      margin: 0 auto; }
    .testimonials .quote-carousel .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      top: 25%; }
      .testimonials .quote-carousel .carousel-control.left {
        left: -60px;
        transition-property: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s; }
        .testimonials .quote-carousel .carousel-control.left:hover {
          color: #fff; }
      .testimonials .quote-carousel .carousel-control.right {
        right: -60px;
        transition-property: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s; }
        .testimonials .quote-carousel .carousel-control.right:hover {
          color: #fff; }

.item blockquote {
  border-left: none;
  margin: 0;
  color: #344A71; }
  .item blockquote p {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); }
  .item blockquote small {
    color: #fff; }
  .item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    font-size: 28px;
    margin-right: 10px; }

.breadcrumb {
  padding: 0; }
  .breadcrumb a {
    color: #344A71; }

/* GALLERY START */
.photo-gallery {
  margin-bottom: 20px; }
  .photo-gallery .gallery-item {
    width: 100%;
    margin-bottom: 20px; }

/* GALLERY END */
.contact-section {
  margin-bottom: 40px; }
  .contact-section .fa-map-marker,
  .contact-section .fa-phone,
  .contact-section .fa-envelope-o {
    color: #C7F464;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle; }

.contact-form .name,
.contact-form .email,
.contact-form .subject {
  border: 2px solid #344A71;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  padding-left: 5px; }

.contact-form .subject {
  width: 100%;
  border: 2px solid #344A71;
  margin-bottom: 20px; }

.contact-form .name {
  float: left;
  width: 47%; }

.contact-form .email {
  float: right;
  width: 47%; }

.contact-form textarea {
  width: 100%;
  border: 2px solid #344A71;
  outline: none;
  padding: 5px 5px;
  color: #344A71; }

.contact-form textarea::-webkit-input-placeholder,
.contact-form input[type=text] {
  color: #344A71; }

.contact-form input::-webkit-input-placeholder,
.contact-form input[type=text] {
  color: #344A71; }

.contact-form button {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  background-color: #C7F464;
  color: #344A71;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition-property: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s; }
  .contact-form button:hover {
    background-color: #344A71;
    color: #fff; }

/*ACCOMMODATION START*/
.accommodation article {
  position: relative; }
  .accommodation article h3 {
    border-bottom: 1px solid rgba(52, 74, 113, 0.2); }
  .accommodation article .accommodation-list {
    font-size: 16px;
    list-style: none;
    padding-left: 15px;
    line-height: 30px; }
    .accommodation article .accommodation-list .accommodation-list-item {
      list-style-image: url("../img/list2.png");
      list-style-position: outside; }
      .accommodation article .accommodation-list .accommodation-list-item .list-item-strong {
        font-weight: 600;
        color: rgba(52, 74, 113, 0.6); }

.accommodation .accommodation-photo img {
  width: 100%; }

.accommodation .accommodation-title-block {
  top: 22px; }

.accommodation .room-details-button, .accommodation .room-details-button-filled {
  color: #344A71;
  border: 2px solid #344A71;
  position: relative;
  margin: 20px 10px 0 0;
  float: left;
  width: 128px; }

.accommodation .room-details-button-filled {
  color: #fff;
  background-color: #344A71; }
  .accommodation .room-details-button-filled:hover {
    background-color: #fff;
    color: #344A71; }

/*MEDIA QUERIES START*/
@media (max-width: 1196px) {
  .section-check-availability, .section-check-availability-mobile {
    display: none; }
  .section-check-availability-mobile {
    display: block; } }

@media (max-width: 991px) {
  .nav-list {
    display: none; }
  .dl-menuwrapper {
    display: block; }
  .about-short .about-part {
    height: auto; }
  .about-short .read-more, .about-short .accommodation .room-details-button, .accommodation .about-short .room-details-button, .about-short .accommodation .room-details-button-filled, .accommodation .about-short .room-details-button-filled {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0; }
  .about-short .overview-list {
    margin-bottom: 15px; }
  .single {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .about-short .about-part {
    margin-bottom: 70px; }
  .title-block, .accommodation .accommodation-title-block {
    top: 22px; }
  .dl-menuwrapper {
    right: 0;
    padding-right: 19px; }
  .carousel-inner .carousel-title, .carousel-inner .sub-page-hero .hero-title, .sub-page-hero .carousel-inner .hero-title {
    font-size: 36px; }
  .testimonials .quote-carousel .carousel-control.left {
    top: -30px;
    left: 120px;
    color: #fff; }
  .testimonials .quote-carousel .carousel-control.right {
    top: -30px;
    right: 120px;
    color: #fff; } }

@media (max-width: 668px) {
  .picker-mobile {
    margin-bottom: 20px;
    width: 50%;
    float: left; }
    .picker-mobile input {
      width: 90%; }
  .picker-calendar {
    left: 80%; }
  .section-check-availability, .section-check-availability-mobile {
    height: 200px; }
    .section-check-availability .check-availability-button, .section-check-availability-mobile .check-availability-button {
      margin-top: 0; }
  .carousel-inner .carousel-title, .carousel-inner .sub-page-hero .hero-title, .sub-page-hero .carousel-inner .hero-title {
    font-size: 24px; }
  .navbar .logo, .section-check-availability .logo, .section-check-availability-mobile .logo {
    width: 150px;
    margin-top: 10px; }
  .about-img {
    width: 100%; } }

@media (max-width: 474px) {
  .section-check-availability, .section-check-availability-mobile {
    height: 200px; }
    .section-check-availability .check-button, .section-check-availability-mobile .check-button {
      font-size: 100%; }
  .carousel-inner .carousel-title, .carousel-inner .sub-page-hero .hero-title, .sub-page-hero .carousel-inner .hero-title {
    font-size: 16px; }
  .testimonials .quote-carousel .carousel-control.left {
    top: -30px;
    left: 40px;
    color: #fff; }
  .testimonials .quote-carousel .carousel-control.right {
    top: -30px;
    right: 40px;
    color: #fff; }
  .about-full .about-img {
    width: 100%;
    padding: 0 0 14px 0; }
  .accommodation .room-details-button, .accommodation .room-details-button-filled {
    width: 100%; } }

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .sub-page-hero .hero-title {
    margin-top: 50px; }
  .sub-page-hero img {
    height: 70vh; } }

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .sub-page-hero .hero-title {
    margin-top: 50px; }
  .sub-page-hero img {
    height: 70vh; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .sub-page-hero .hero-title {
    margin-top: 50px; }
  .sub-page-hero img {
    height: 70vh; } }
