$green: #CFF09E;
$lightblue: #516d9b;
$darkblue: #344A71;

body {

    font-family: 'Hind', sans-serif;
}

/*NAVBAR*/
.navbar {
  background-color: rgba(52,74,113,.55);
  width: 100%;
  height: 95px;
  position: fixed;
  z-index: 9999;
  .logo {
    width: 200px;
    padding-top: 16px;
  }
}

.nav-list {
    font-size: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    float: right;
    li {
      display: inline;
      height: 95px;
      a {
        font-size: 15px; 
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        padding: 40px 16px;
        text-decoration: none;
        transition-property: all .4s linear 0s;
        -moz-transition: all .4s linear 0s;
        -webkit-transition: all .4s linear 0s;
        -o-transition: all .4s linear 0s;
      }
    }
}

.dropbtn {
    font-weight: 600; 
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: rgba(52,74,113,.85);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
    background-color: #fff;
    margin-top: -6px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    .nav-expanded {
        color: rgba(52,74,113,.85);
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase; 
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        transition: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
    &:hover {
      padding-left: 22px;
    }
  }
}

.dropdown:hover .dropdown-content {
    display: block;
    max-height: 1000px;
    transform: perspective(400) rotate3d(0,0,0,0);
    -webkit-transform: perspective(400) rotate3d(0,0,0,0);
}
/*NAVBAR END*/

/*CAROUSEL*/

.carousel-inner {
    position: relative;
    .carousel-item {
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .carousel-title {
        font-size: 26px;
        font-weight: 600;
        color: #fff;
        letter-spacing: 0;
        padding: 8px 12px;
        min-height: 0px;
        min-width: 0px;
        line-height: 30px;
        white-space: nowrap;
        background-color: rgba(52,74,113,.55);
        position: absolute;
        top: 30%;
        left: 0;
    }
}
/*CAROUSEL END*/

/*DATE PICKER*/
.section-check-availability {
  @extend .navbar;
  height: 80px;
  padding-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  input::-webkit-input-placeholder,
  input[type=text] {
    @extend .hasDatepicker;
    text-align: left;
  }
  .check-availability-title {
    color: #fff;
    font-size: 21px;
    p {
      margin-top: 10px;
    }
  }
}

.picker {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #fff;
  height: 40px;
  width: 150px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  outline: none;
  option,
  select {
    font-weight: 600;
  }
}

.hasDatepicker {
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  padding-left: 5px;
}

.styled-select {
  display: inline-block;
  float: left;
  width: 100px;
  height: 40px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: transparent;
  text-align: center;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  border: 2px double #fff;
  display: inline-block;
  position: relative;
  
  }

.form-number {
  @extend .picker;
  border: 0;
}

.check-button {
    width: 100%;
    background-color: $green;
    border: 0;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(52,74,113,.55);
    transition-property: all .2s linear 0s;
	  -moz-transition: all .2s linear 0s;
	  -webkit-transition: all .2s linear 0s;
	  -o-transition: all .2s linear 0s;
    &:hover {
      color: #fff;
      background-color: transparent;
      border: 2px solid #fff;
    }
  }
.ui-datepicker {
  background-color: #fff;
  box-shadow: 0 0 8px #7A869F;
  display: none;
  width: 240px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: #fff;
      -webkit-transition: color 0.1s ease-in-out;
      -moz-transition: color 0.1s ease-in-out;
      -o-transition: color 0.1s ease-in-out;
      transition: color 0.1s ease-in-out;
    }
  }
  td:hover a {
    background-color: #fff;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
  }
  .ui-datepicker-header {
    text-align: center;
    color: $lightblue;
    height: 35px;
    margin-top: 10px;
  }
  .ui-datepicker-title {
    font-size: 18px;
    font-weight: 600;
  }
  .ui-datepicker-prev, .ui-datepicker-next {
    cursor: default;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    font-size: 25px;
    line-height: 1;
  }
  .ui-datepicker-prev {
    float: left;
    text-align: left;
  }
  .ui-datepicker-next {
    float: right;
    text-align: right;
  }
  .ui-datepicker-prev:before {
    content: "\e079";
  }
  .ui-datepicker-next:before {
    content: "\e080";
  }
  .ui-icon {
    display: none;
  }
  .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
    th {
      text-align: center;
      padding: 4px 0;
    }
    td {
      text-align: center;
      padding: 4px 0;
      border-radius: 4px;
      -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      &:hover {
        background-color: $lightblue;
        cursor: pointer;
        > .ui-state-default {
          background-color: $lightblue;
          color: #fff;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
  .ui-datepicker-current-day {
    background-color: $lightblue;
    a {
      color: #fff;
    }
  }
  .ui-datepicker-calendar {
    .ui-datepicker-unselectable:hover {
      background-color: $lightblue;
      cursor: default;
    }
    thead th {
      text-transform: capitalize;
      color: #fff;
      font-weight: 400;
      background-color: $lightblue;
      padding: 12px 5px;
    }
  }
}

.picker-calendar {
  position: absolute;
  font-size: 18px;
  top: 12px;
  left: 135px;
  color: #fff;
}
.arrival {
  left: 150px;
}
.departure {
  left: 320px;
}


.section-check-availability-mobile {
  @extend .section-check-availability;
  height: 150px;
  position: relative;
  display: none;
  bottom: 0;
  background-color: $darkblue;
  .check-availability-button {
    margin-top: 20px;
  }
  .check-availability-pickers {
    text-align: center;
    .picker-mobile {
    display: inline-block;
    position: relative;
    }
  }
}
/*DATE PICKER END*/


/*ABOUT MAIN PAGE*/
.about-short {
  position: relative;
  margin-bottom: 20px;
  .about-part {
    height: 320px;
  }
  h3 {
    border-bottom: 1px solid rgba(52,74,113,.20);
  }

  .read-more {
    @extend .styled-select;
    color: $darkblue;
    border: 2px solid $darkblue;
    position: absolute;
    left: 5px;
    bottom: 20px;
    &:hover {
      background-color: $darkblue;
      color: #fff;
      transition-property: all .2s linear 0s;
      -moz-transition: all .2s linear 0s;
      -webkit-transition: all .2s linear 0s;
      -o-transition: all .2s linear 0s;
    }
  }
  .small-photo {
  max-width: 100%;
  }
  .overview-list {
    padding-left: 25px;
    margin: 0;
    li {
      list-style-image: url("../img/list-icon.png");
      font-size: 16px;
    }
  }
  iframe {
    width: 100%;
    height: 200px;
  }
}
.title-block {
  height: 3px;
  width: 15%;
  background-color: $darkblue;
  display: block;
  position: absolute;
  top: 39px;
}

/*ABOUT MAIN END*/

/*FOOTER START*/
.footer {
  background-color: #1c1c1c;
  color: #acacac;
  h3 {
    text-transform: uppercase;
    color: #fff;
  }
  .styled-select {
    width: 100%;
    margin: 0;
    padding-left: 5px;
    &::-webkit-input-placeholder,
    input[type=text] {
    text-align: left;
    }
  }
  .styled-select[type=text] {
    text-align: left;
    padding-left: 5px; 
  }
  .check-button {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-top: 20px;
  }
  .footer-contact {
    .fa {
      margin-right: 10px;
    }
  }
  .margin {
    margin-bottom: 15px;
  }
  .social-icons {
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        a {
          &:hover {
            background-color: transparent;
            color: $lightblue;
          }
          i {
            font-size: 24px;
            display: block;
            color: #acacac;
            transition-property: all .2s linear 0s;
            -moz-transition: all .2s linear 0s;
            -webkit-transition: all .2s linear 0s;
            -o-transition: all .2s linear 0s;
            &:hover {
              color: $lightblue;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.footer-bottom {
  background-color: $darkblue;
  color: #acacac;
  font-size: 16px;
  text-align: center;
  p {
    margin: 10px 0;
  }
  a {
    color: #acacac;
    font-weight: 600;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    &:hover {
      color: #fff;
    }
  }
}








/*MEDIA QUERIES START*/
@media (max-width: 1196px) {
  .section-check-availability {
    display: none;
  }
  .section-check-availability-mobile {
    display: block;
  }
}

@media (max-width: 991px) {
  .nav-list {
    display: none;
  }
  .about-short {
    .about-part {
      height: auto;
    }
    .read-more {
      position: relative;
      bottom: 0;
      left: 0;
      margin: 0;
    }
    .overview-list {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 767px) {
  .about-short {
    .about-part {
      margin-bottom: 70px;
    }
  }
  .title-block {
    top: 22px;
  }
}

@media (max-width: 668px) {
  .picker-mobile {
    margin-bottom: 20px;
    width: 50%;
    float: left;
    input {
      width: 90%;
    }  
  }
  .picker-calendar {
    left: 80%;
  }
}
