$green: #C7F464;
$lightblue: #516d9b;
$darkblue: #344A71;

body {

    font-family: 'Hind', sans-serif;
}

/*BACK TO TOP START*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: $green url(../img/top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition-property: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s;
  &.cd-is-visible, &.cd-fade-out {
    transition-property: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -webkit-transition: all .4s linear 0s;
    -o-transition: all .4s linear 0s;
  }
}

.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top {
  &.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  &.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
}

.no-touch .cd-top:hover {
  background-color: #d7f792;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}

/*NAVBAR*/

/*NAVBAR MOBILE START*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dl-menuwrapper {
  display: none;
  width: 100%;
  max-width: 300px;
  float: left;
  position: absolute;
  top: 25px;
  right: 10%;
  text-align: right;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  &:first-child {
    margin-right: 100px;
  }
  .dl-trigger {
    color: transparent;
  }
  button {
    background: transparent;
    border: none;
    width: 48px;
    height: 45px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
  }
  ul {
    background: rgba(52, 74, 113, 0.55);
  }
  button:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background: #fff;
    top: 10px;
    left: 15%;
    box-shadow: 0 10px 0 #fff,  0 20px 0 #fff;
  }
  ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  li {
    position: relative;
    a {
      display: block;
      position: relative;
      padding: 15px 30px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;
      outline: none;
    }
  }
}

.no-touch .dl-menuwrapper li a {
  transition-property: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s;
}

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(52, 74, 113, 0.35);
  color: #fff;
}

.dl-menuwrapper {
  li {
    &.dl-back {
      > a {
        padding-left: 30px;
        background: rgba(0, 0, 0, 0.1);
      }
      &:after {
        position: absolute;
        top: 0;
        line-height: 50px;
        font-size: 12px;
        font-family: 'icomoon';
        speak: none;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        content: "\e000";
        right: 10px;
        color: #fff;
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
      }
    }
    > a:not(:only-child):after {
      position: absolute;
      top: 0;
      line-height: 50px;
      font-size: 12px;
      font-family: 'icomoon';
      speak: none;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      content: "\e000";
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    > a:after {
      right: 10px;
      color: rgba(0, 0, 0, 0.15);
    }
  }
  .dl-menu {
    position: absolute;
    margin-top: 25px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.dl-menu-toggle {
      transition: all 0.3s ease;
    }
    &.dl-menuopen {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  li .dl-submenu {
    display: none;
  }
}

.dl-menu.dl-subview li {
  display: none;
  &.dl-subviewopen > a {
    display: none;
  }
  &.dl-subview {
    > a {
      display: none;
    }
    display: block;
    background-color: transparent;
    .dl-submenu {
      display: block;
      background-color: transparent;
    }
  }
  &.dl-subviewopen {
    display: block;
    background-color: transparent;
    > .dl-submenu {
      display: block;
      background-color: transparent;
      > li {
        display: block;
        background-color: transparent;
      }
    }
  }
}

.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  margin: 0;
}

.dl-menu {
  &.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease;
  }
  &.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease;
  }
}

@-webkit-keyframes MenuAnimOut5 {
  0% {}

  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}


@keyframes MenuAnimOut5 {
  0% {}

  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
}


@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


.dl-menuwrapper > .dl-submenu {
  &.dl-animate-in-5 {
    -webkit-animation: SubMenuAnimIn5 0.4s ease;
    animation: SubMenuAnimIn5 0.4s ease;
  }
  &.dl-animate-out-5 {
    -webkit-animation: SubMenuAnimOut5 0.4s ease;
    animation: SubMenuAnimOut5 0.4s ease;
  }
}

@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}


@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}


@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
}

/* No JS Fallback */

.no-js .dl-menuwrapper {
  .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  li {
    .dl-submenu {
      display: block;
    }
    &.dl-back {
      display: none;
    }
    > a:not(:only-child) {
      background: rgba(0, 0, 0, 0.1);
      &:after {
        content: '';
      }
    }
  }
}
/*NAVBAR MOBILE END*/

.navbar {
  background-color: rgba(52,74,113,.55);
  width: 100%;
  height: 95px;
  position: fixed;
  z-index: 9999;
  .logo {
    width: 200px;
    padding-top: 16px;
  }
  .fa-tree {
    position: absolute;
    top: 10%;
    right: -20%;
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
  }
  .fa-bed {
    position: absolute;
    top: 42%;
    right: -20%;
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
  }
  .fa-key {
    position: absolute;
    top: 75%;
    right: -20%;
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
  }

}

.nav-list {
    font-size: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    float: right;
    li {
      display: inline;
      height: 95px;
      a {
        font-size: 15px; 
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        padding: 40px 16px;
        text-decoration: none;
        transition-property: all .4s linear 0s;
        -moz-transition: all .4s linear 0s;
        -webkit-transition: all .4s linear 0s;
        -o-transition: all .4s linear 0s;
      }
    }
}

.dropbtn {
    font-weight: 600; 
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: rgba(52,74,113,.85);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
    background-color: #fff;
    margin-top: -6px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    .nav-expanded {
        color: rgba(52,74,113,.85);
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase; 
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        transition: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
        &:hover {
          padding-left: 22px;
        }
    }
    .nav-expanded:hover .fa-tree {
    top: 10%;
    right: 10%;
    }
    .nav-expanded:hover .fa-bed {
    top: 42%;
    right: 10%;
    }
    .nav-expanded:hover .fa-key {
    top: 75%;
    right: 10%;
    }

}

.dropdown:hover .dropdown-content {
    display: block;
    max-height: 1000px;
    transform: perspective(400) rotate3d(0,0,0,0);
    -webkit-transform: perspective(400) rotate3d(0,0,0,0);
}
/*NAVBAR END*/

/*CAROUSEL*/

.carousel-inner {
    position: relative;
    .carousel-item {
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}
.carousel-title {
  font-size: 46px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0;
  padding: 20px 20px 15px 20px;
  min-height: 0px;
  min-width: 0px;
  line-height: 30px;
  white-space: nowrap;
  background-color: rgba(52,74,113,.55);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}
/*CAROUSEL END*/

/*DATE PICKER*/
.section-check-availability {
  @extend .navbar;
  height: 80px;
  padding-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  input::-webkit-input-placeholder,
  input[type=text] {
    @extend .hasDatepicker;
    text-align: left;
  }
  .check-availability-title {
    color: #fff;
    font-size: 21px;
    p {
      margin-top: 10px;
    }
  }
}

.picker {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #fff;
  height: 40px;
  width: 150px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  outline: none;
  option,
  select {
    font-weight: 600;
  }
}

.hasDatepicker {
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  padding-left: 5px;
  padding-right: 23px;
}

.styled-select {
  display: inline-block;
  float: left;
  width: 100px;
  height: 40px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: transparent;
  text-align: center;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  border: 2px double #fff;
  display: inline-block;
  position: relative;
  transition-property: all .6s linear 0s;
	-moz-transition: all .6s linear 0s;
	-webkit-transition: all .6s linear 0s;
	-o-transition: all .6s linear 0s;
  }

.form-number {
  @extend .picker;
  border: 0;
}

.check-button {
    width: 100%;
    background-color: $green;
    border: 0;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: 2px solid $green;
    text-transform: uppercase;
    color: rgba(52,74,113,.55);
    transition-property: all .2s linear 0s;
	  -moz-transition: all .2s linear 0s;
	  -webkit-transition: all .2s linear 0s;
	  -o-transition: all .2s linear 0s;
    &:hover {
      color: #fff;
      background-color: transparent;
      border: 2px solid #fff;
    }
  }
  .result {
    margin: 0;
  }

  .wrong-email {
    background-color: rgba(255, 0, 0, 0.4);
    opacity: .9;
  }
  .correct-email {
    background-color: rgba(0, 229, 0, 0.4);
    opacity: .9;
  }
  
.ui-datepicker {
  background-color: #fff;
  box-shadow: 0 0 8px #7A869F;
  display: none;
  width: 240px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: #fff;
      -webkit-transition: color 0.1s ease-in-out;
      -moz-transition: color 0.1s ease-in-out;
      -o-transition: color 0.1s ease-in-out;
      transition: color 0.1s ease-in-out;
    }
  }
  td:hover a {
    background-color: #fff;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
  }
  .ui-datepicker-header {
    text-align: center;
    color: $lightblue;
    height: 35px;
    margin-top: 10px;
  }
  .ui-datepicker-title {
    font-size: 18px;
    font-weight: 600;
  }
  .ui-datepicker-prev, .ui-datepicker-next {
    cursor: default;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    font-size: 25px;
    line-height: 1;
  }
  .ui-datepicker-prev {
    float: left;
    text-align: left;
  }
  .ui-datepicker-next {
    float: right;
    text-align: right;
  }
  .ui-datepicker-prev:before {
    content: "\e079";
  }
  .ui-datepicker-next:before {
    content: "\e080";
  }
  .ui-icon {
    display: none;
  }
  .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
    th {
      text-align: center;
      padding: 4px 0;
    }
    td {
      text-align: center;
      padding: 4px 0;
      border-radius: 4px;
      -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      &:hover {
        background-color: $lightblue;
        cursor: pointer;
        > .ui-state-default {
          background-color: $lightblue;
          color: #fff;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
  .ui-datepicker-current-day {
    background-color: $lightblue;
    a {
      color: #fff;
    }
  }
  .ui-datepicker-calendar {
    .ui-datepicker-unselectable:hover {
      background-color: $lightblue;
      cursor: default;
    }
    thead th {
      text-transform: capitalize;
      color: #fff;
      font-weight: 400;
      background-color: $lightblue;
      padding: 12px 5px;
    }
  }
}

.picker-calendar {
  position: absolute;
  font-size: 18px;
  top: 12px;
  left: 135px;
  color: #fff;
}
.arrival {
  left: 150px;
}
.departure {
  left: 320px;
}


.section-check-availability-mobile {
  @extend .section-check-availability;
  height: 150px;
  position: relative;
  display: none;
  bottom: 0;
  background-color: $darkblue;
  .check-availability-button {
    margin-top: 20px;
  }
  .check-availability-pickers {
    text-align: center;
    .picker-mobile {
    display: inline-block;
    position: relative;
    }
  }
}
/*DATE PICKER END*/


/*ABOUT MAIN PAGE*/
.about-short {
  position: relative;
  margin-bottom: 20px;
  .about-part {
    height: 320px;
  }
  h3 {
    border-bottom: 1px solid rgba(52,74,113,.20);
  }

  
  .small-photo {
  max-width: 100%;
  }
  .overview-list {
    padding-left: 25px;
    margin: 0;
    li {
      list-style-image: url("../img/list-icon.png");
      font-size: 16px;
    }
  }
  iframe {
    width: 100%;
    height: 200px;
  }
}
.read-more {
    @extend .styled-select;
    color: $darkblue;
    border: 2px solid $darkblue;
    position: absolute;
    left: 5px;
    bottom: 20px;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    &:hover {
      background-color: $darkblue;
      color: #fff;
    }
  }
.title-block {
  height: 3px;
  width: 15%;
  background-color: $darkblue;
  display: block;
  position: absolute;
  top: 39px;
}

/*ABOUT MAIN END*/

/*FOOTER START*/
.footer {
  background-color: #1c1c1c;
  color: #acacac;
  h3 {
    text-transform: uppercase;
    color: #fff;
  }
  .styled-select {
    width: 100%;
    margin: 0;
    padding-left: 5px;
    &::-webkit-input-placeholder,
    input[type=text] {
    text-align: left;
    }
  }
  .styled-select[type=text] {
    text-align: left;
    padding-left: 5px; 
  }
  .check-button {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-top: 20px;
  }
  .footer-contact {
    .fa {
      margin-right: 10px;
    }
  }
  .margin {
    margin-bottom: 15px;
  }
  .social-icons {
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        a {
          &:hover {
            background-color: transparent;
            color: $lightblue;
          }
          i {
            font-size: 24px;
            display: block;
            color: #acacac;
            transition-property: all .2s linear 0s;
            -moz-transition: all .2s linear 0s;
            -webkit-transition: all .2s linear 0s;
            -o-transition: all .2s linear 0s;
            &:hover {
              color: $lightblue;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.footer-bottom {
  background-color: $darkblue;
  color: #acacac;
  font-size: 16px;
  text-align: center;
  p {
    margin: 10px 0;
  }
  a {
    color: #acacac;
    font-weight: 600;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    &:hover {
      color: #fff;
    }
  }
}

.single {
    width: 100%;
    margin: 0 auto;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover
    }
}



.pointer {
  cursor: pointer;
}



.sub-page-hero {
  position: relative;
  margin-bottom: 40px;
  img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  .hero-title {
    @extend .carousel-title;
    margin-top: 40px;
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;

  }
}

.about-full {
  .about-title {
    margin: 0;
    border-bottom: 1px solid rgba(52, 74, 113, 0.2);
  }
  .title-block {
    top: 29px;
  }
  .about-img {
    width: 300px;
    height: auto;
    float: right;
    padding: 10px 0 0 10px;
  }
}
.space-bottom {
  margin-bottom: 40px;
}

.quotation {
  padding: 20px 0 15px 70px;
  border-top: 1px solid rgba(52,74,113,.55);
  border-bottom: 1px solid rgba(52,74,113,.55);
  font-size: 18px;
  font-weight: 600;
  .fa-quote-right {
    font-size: 40px;
    position: absolute;
    left: 20px;;
    top: 15px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 65px;
    color: $darkblue;
  }
}

.testimonials {
  background-image: url("../img/about-hero.jpg");
  background-position: 50%;
  background-attachment: fixed;
  .quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 40px;
    .carousel-inner {
      width: 90%;
      margin: 0 auto;
    }
    .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      top: 25%;
      &.left {
        left: -60px;
        transition-property: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
        &:hover {
          color: #fff;
        }
      }
      &.right {
        right: -60px;
        transition-property: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.item blockquote {
  border-left: none;
  margin: 0;
  color: $darkblue;
  p {
    padding: 10px;
    background-color: rgba(255,255,255, 0.5);
  }
  small {
    color: #fff;
  }
  p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    font-size: 28px;
    margin-right: 10px;
  }
  

}

.breadcrumb {
  padding: 0;
  a {
    color: $darkblue;
  }
}
/* GALLERY START */
.photo-gallery {
  margin-bottom: 20px;
  .gallery-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* GALLERY END */
.contact-section {
  .fa-map-marker,
  .fa-phone,
  .fa-envelope-o {
    color: #C7F464;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
  }
  margin-bottom: 40px;
}
.contact-form {
  .name,
  .email,
  .subject {
    border: 2px solid $darkblue;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 5px;
  }
  .subject {
    width: 100%;
    border: 2px solid $darkblue;
    margin-bottom: 20px;
  }
  .name {
    float: left;
    width: 47%;
  }
  .email {
    float: right;
    width: 47%;
  }
  textarea {
    width: 100%;
    border: 2px solid $darkblue;
    outline: none;
    padding: 5px 5px;
    color: $darkblue;
  }
  textarea::-webkit-input-placeholder,
    input[type=text] {
    color: $darkblue;
  }
  input::-webkit-input-placeholder,
  input[type=text] {
    color: $darkblue;
  }
  button {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: #C7F464;
    color: $darkblue;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition-property: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -webkit-transition: all .4s linear 0s;
    -o-transition: all .4s linear 0s;
    &:hover {
      background-color: $darkblue;
      color: #fff;
    }
  }
}

/*ACCOMMODATION START*/
.accommodation {
  article {
    position: relative;
    h3 {
      border-bottom: 1px solid rgba(52, 74, 113, 0.2);
    }
    .accommodation-list {
      font-size: 16px;
      list-style: none;
      padding-left: 15px;
      line-height: 30px;
      .accommodation-list-item {
        list-style-image: url("../img/list2.png");
        list-style-position: outside;
        .list-item-strong {
          font-weight: 600;
          color: rgba(52, 74, 113, 0.6);
        }
      }
    }
  }
  .accommodation-photo {
    img {
      width: 100%;
    }
  }
  .accommodation-title-block {
    @extend .title-block;
    top: 22px;
    
  }
  .room-details-button {
    @extend .read-more;
    color: $darkblue;
    border: 2px solid $darkblue;
    position: relative;
    margin: 20px 10px 0 0;
    float: left;
    width: 128px;
  }
  .room-details-button-filled {
    @extend .room-details-button;
    color: #fff;
    background-color: $darkblue;
    &:hover {
      background-color: #fff;
      color: $darkblue;
    }
  }
}













/*MEDIA QUERIES START*/
@media (max-width: 1196px) {
  .section-check-availability {
    display: none;
  }
  .section-check-availability-mobile {
    display: block;
  }
}

@media (max-width: 991px) {
  .nav-list {
    display: none;
  }
  .dl-menuwrapper {
    display: block;
  }
  .about-short {
    .about-part {
      height: auto;
    }
    .read-more {
      position: relative;
      bottom: 0;
      left: 0;
      margin: 0;
    }
    .overview-list {
      margin-bottom: 15px;
    }
  }
  .single {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .about-short {
    .about-part {
      margin-bottom: 70px;
    }
  }
  .title-block {
    top: 22px;
  }
  .dl-menuwrapper {
    right: 0;
    padding-right: 19px;
  }
  .carousel-inner {
    .carousel-title {
      font-size: 36px;
    }
  }
  .testimonials {
    .quote-carousel {
      .carousel-control {
        &.left {
          top: -30px;
          left: 120px;
          color: #fff;
        }
        &.right {
          top: -30px;
          right: 120px;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 668px) {
  .picker-mobile {
    margin-bottom: 20px;
    width: 50%;
    float: left;
    input {
      width: 90%;
    }  
  }
  .picker-calendar {
    left: 80%;
  }
  .section-check-availability {
    height: 200px;
    .check-availability-button {
      margin-top: 0;
    }
  }
  .carousel-inner {
    .carousel-title {
      font-size: 24px;
    }
  }
  .navbar {
    .logo {
      width: 150px;
      margin-top: 10px;
    }
  }
   .about-img {
     width: 100%;
   }
}

@media (max-width: 474px) {
  .section-check-availability {
    height: 200px;
    .check-button {
      font-size: 100%;
    }
  }
  .carousel-inner {
    .carousel-title {
      font-size: 16px;
    }
  }
  .testimonials {
    .quote-carousel {
      .carousel-control {
        &.left {
          top: -30px;
          left: 40px;
          color: #fff;
        }
        &.right {
          top: -30px;
          right: 40px;
          color: #fff;
        }
      }
    }
  }
  .about-full {
    .about-img {
    width: 100%;
    padding: 0 0 14px 0;
    }
  }
  .accommodation {
    .room-details-button {
      width: 100%;
    }
  }
} 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .sub-page-hero {
     .hero-title {
       margin-top: 50px;
     }
     img {
      height: 70vh;
     }
   }
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .sub-page-hero {
     .hero-title {
       margin-top: 50px;
     }
     img {
      height: 70vh;
     }
   }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .sub-page-hero {
     .hero-title {
       margin-top: 50px;
     }
     img {
      height: 70vh;
     }
   }
}



